*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-layout{
  height: 100vh;
  width: 100%;
  border: 1px solid black;
  display:flex;
  justify-content: center;
  align-items: center;
}

input{
  width:220px;
  height: 25px;
  margin-bottom: 5px;
}

button{
  width: 80px;
  height: 25px;
  text-align: center;
}